  .custom_transition {
    transition: all 0.4s ease-in-out !important;
  }

  .custom_transition6s {
    transition: all 0.7s ease-in-out !important;
  }
  
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white !important;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000000;
    padding: 7px;
  }
  .swiper-pagination-bullet-active{
    background-color: transparent !important;
    border: transparent !important;
  }
  

  
  .swiper-pagination-bullet-active::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    top: 3px;
    padding-right: 4px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f8955b;
  }


  .beforeDiv::before{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 230px;
    width: 100px;
    height: 44px;
    content: '';
    border-top-left-radius: 22px;
    box-shadow: -30px -20px 0 white;
    z-index: 0;
}

.afterDiv::after {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 230px; /* Adjust as needed */
    width: 100px;
    height: 44px;
    content: '';
    border-top-right-radius: 22px;
    box-shadow: 30px -20px 0 white;
    z-index: 0;
}